[Unit]
Description=The cooler FLIR service 

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=/bin/bash -c 'i2ctransfer -y  2 w3@0x72 0x05 0x01 0x01'
ExecStop=/bin/bash -c 'i2ctransfer -y  2 w3@0x72 0x05 0x01 0x00'

[Install]
WantedBy=multi-user.target

