[Unit]
Description=FLIR flirapp (appcore et al) service 

[Service]
Type=simple
ExecStartPre=/bin/bash -c 'echo 4 > /sys/devices/system/cpu/cpufreq/ondemand/sampling_down_factor'
ExecStartPre=/bin/bash -c 'echo 512 > /proc/sys/fs/mqueue/msgsize_max'
ExecStartPre=/bin/bash -c 'rm -rf `ls /tmp/FLIRevent/* | grep -v Progress`'
ExecStartPre=/bin/bash -c 'rm -rf `ls /dev/mqueue/* | grep -v Progress`'
ExecStartPre=/bin/sleep 3

ExecStart=/FLIR/usr/bin/appcore -d
ExecStop=/usr/bin/killall -HUP appcore
KillMode=control-group
TimeoutStopSec=10
Environment=LD_LIBRARY_PATH=/FLIR/usr/lib
Group=userdata

ExecStopPost=/sbin/systemd-failure-notifier "%n" "%i"

[Install]
WantedBy=multi-user.target

