[Unit]
Description=The Reliable, High Performance TCP/HTTP Load Balancer
After=haproxy.service

[Service]
ExecStartPre=/bin/bash -c '/usr/sbin/haproxy_env_check_ssl.sh'
ExecStart=/usr/sbin/haproxy -f /etc/haproxy_ssl.cfg
ExecReload=/bin/kill -USR1 $MAINPID
Restart=always

[Install]
WantedBy=multi-user.target
