[Unit]
Description=Videorender application
After=weston.service

[Service]
Type=simple
ExecStart=/usr/bin/videorender.sh

[Install]
WantedBy=multi-user.target
