[Unit]
Description=WLAN loader
# wait for network to come up before we run
After=network.target

[Service]
Type=forking
# SIGINT doesn't leave the service in failed state
KillSignal=SIGINT
ExecStartPre=-/sbin/wlanload
ExecStart=/usr/sbin/udhcpd -I192.168.87.1

[Install]
WantedBy=multi-user.target
