[Unit]
Description=Chargeapp
After=weston.service

[Install]
WantedBy=multi-user.target charge.target

[Service]
Type=simple
ExecStart=/FLIR/usr/bin/chargeapp -platform wayland
ExecStop=/usr/bin/killall -HUP chargeapp
KillMode=control-group
TimeoutStopSec=10
SuccessExitStatus=0 1
Environment=LD_LIBRARY_PATH=/lib:/usr/lib:/FLIR/usr/lib
Environment=QT_PLUGIN_PATH=/usr/lib/plugins
Environment=XDG_RUNTIME_DIR=/run/user/0
Environment=QT_QPA_PLATFORM=wayland
