[Unit]
Description=Sleep (APM) daemon
After=flirapp.service

[Service]
Type=simple
ExecStart=/lib/systemd/system/sleepstart.sh
ExecStop=/usr/bin/killall -HUP sleepd
Environment=LD_LIBRARY_PATH=/FLIR/usr/lib

[Install]
WantedBy=multi-user.target

