[Unit]
Description=Progressapp application
After=weston.service

[Service]
Type=simple
ExecStart=/usr/bin/progressapp.sh
Environment=LD_LIBRARY_PATH=/FLIR/usr/lib

[Install]
WantedBy=multi-user.target
