[Unit]
Description=FLIR IP service 
After=appcore.service
ConditionPathExists=/usr/bin/fis

[Service]
Type=simple
ExecStart=/usr/bin/fis
ExecStop=/usr/bin/killall -HUP fis
TimeoutStopSec=10

[Install]
WantedBy=multi-user.target

