[Unit]
Description=Configure gadget on usb0
Before=network.target
After=flirapp.service

[Service]
Type=oneshot
ExecStart=/sbin/gadget.sh load
ExecStop=/sbin/gadget.sh unload
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target charge.target
