[Unit]
Description=ftpd service on /FLIR/system
After=FLIR-system.mount

[Service]
Type=simple
ExecStart=/usr/bin/tcpsvd -vE 0.0.0.0 21 /usr/sbin/ftpd -w /FLIR/system
ExecStop=/usr/bin/killall tcpsvd

[Install]


