[Unit]
Description=FLIR internal prepare 
DefaultDependencies=no
After=local-fs.target
Before=systemd-update-done.service
ConditionNeedsUpdate=/etc
ConditionPathExists=/dev/mmcblk0p7

[Service]
Type=simple
ExecStartPre=/usr/sbin/internal-prepare
ExecStart=/bin/echo "prepared internal"

[Install]
WantedBy=multi-user.target
