[Unit]
Description=FLIR Data Collection Service
Wants=url.service

[Service]
ExecStart=/FLIR/usr/bin/start-data-collection
Environment=LD_LIBRARY_PATH=/FLIR/usr/lib

[Install]
WantedBy=multi-user.target
