[Unit]
Description=Bluetooth loader
After=dbus.service
Before=bluetooth.service dbus-org.bluez.service

[Service]
Type=oneshot
ExecStart=/sbin/btload
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
