[Unit]
Description=Configure gadget on usb0
After=flirapp.service

[Service]
Type=oneshot
ExecStart=/sbin/gadget.sh load
ExecStop=/sbin/gadget.sh unload
RemainAfterExit=yes

[Install]
WantedBy=graphical.target
