[Unit]
Description=Skylab cosw adapter
After=skylab-streamserver.service
Before=skylab-cmd.service

[Service]
Type=simple
ExecStart=/usr/bin/skylab-cosw-adapter
Restart=on-failure

[Install]
WantedBy=multi-user.target
