[Unit]
Description=Skylab streamserver
After=systemd-journald.service

[Service]
Type=simple
ExecStart=/usr/bin/skylab-streamserver.sh
ExecStopPost=/sbin/systemd-failure-notifier "%n" "%i"

[Install]
WantedBy=multi-user.target
