[Unit]
Description=Skylab streamserver
After=network-online.target

[Service]
Type=dbus
BusName=com.flir.skylab1.streamserver
ExecStart=/usr/bin/skylab-streamserver \
				       --verbosity=3 \
				       --frames-bind-endpoint=tcp://*:5550
Restart=on-failure

[Install]
WantedBy=multi-user.target
