[Unit]
Description=Skylab streamserver
After=network-online.target

[Service]
Type=dbus
BusName=com.flir.skylab1.streamserver
ExecStart=/usr/bin/skylab-streamserver
Restart=on-failure
Environment=LD_LIBRARY_PATH=/FLIR/usr/lib

[Install]
WantedBy=multi-user.target
