[Unit]
Description=Skylab cosw adapter
After=network.target bluetooth.target

[Service]
Type=simple
ExecStart=/usr/bin/skylab-cosw-adapter
Restart=on-failure
Environment=LD_LIBRARY_PATH=/FLIR/usr/lib

[Install]
WantedBy=multi-user.target
