[Unit]
Description=Skylab cmd
After=network-online.target

[Service]
Type=simple
ExecStart=/usr/bin/skylab-cmd
Restart=on-failure
Environment=LD_LIBRARY_PATH=/FLIR/usr/lib

[Install]
WantedBy=multi-user.target
