[Unit]
Description=OpenSSH Key Generation
ConditionFileNotEmpty=|!/etc/ssh/ssh_host_rsa_key
ConditionFileNotEmpty=|!/etc/ssh/ssh_host_dsa_key
ConditionFileNotEmpty=|!/etc/ssh/ssh_host_ecdsa_key

[Service]
ExecStartPre=/bin/sh -c 'echo "sshdgenkeys no/bad ssh_host keys found, cleans for (re-)generation"'
ExecStartPre=/bin/sh -c 'rm -f /etc/ssh/ssh_host_*';
ExecStart=@BINDIR@/ssh-keygen -A
ExecStartPost=/bin/sh -c 'echo sshdgenkeys - sync'
ExecStartPost=/bin/sync
Type=oneshot
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target

