[Unit]
Description=Charging current limiter 
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
User=root
ExecStart=/usr/bin/env bash /usr/bin/charger-current-limiter.sh

[Install]
WantedBy=multi-user.target
    