[Unit]
Description=Run charger once a minute and on boot

[Timer]
OnBootSec=0
OnUnitActiveSec=1min
OnCalendar=*-*-* *:*:00
Unit=charger-current-limiter.service

[Install]
WantedBy=multi-user.target