[Unit]
Description=FLIR Activity Monitor
Before=flirapp.service

[Service]
Type=simple
ExecStart=/usr/bin/flir-activity-monitor

[Install]
WantedBy=multi-user.target

