#  This file is part of systemd.
#
#  systemd is free software; you can redistribute it and/or modify it
#  under the terms of the GNU Lesser General Public License as published by
#  the Free Software Foundation; either version 2.1 of the License, or
#  (at your option) any later version.

[Unit]
Description=FLIR internal mounter (ext4)
DefaultDependencies=no
After=sysinit.target FLIR-internal-prepare.service
ConditionPathExists=/dev/mmcblk0p7

[Mount]
What=/dev/mmcblk0p7
Where=/FLIR/internal
Type=ext4
Options=rw

[Install]
WantedBy=multi-user.target
